<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin/register.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbar__logo">
                <a href="../../index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./contact.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <picture>
                        <a class="navbar__cart" href="./carrito.html">
                            <img src="../../img/icons/cart-icon.svg" alt="icono de carrito">
                        </a>
                    </picture>
                </li>
            </ul>
        </nav>
    </header>

    <main class="form__registro"> 
        <section class="container registro__seccion">
            <h1 class="registro__titulo">Sobre Nosotros</h1>
            <form>
                <p class="text-complete">Esta es una página realizada por el grupo 8 del curso de Codo a Codo - 2do Cuatrimestre.</p>
                <p class="text-complete">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reiciendis enim nam dolor pariatur. 
                    Nobis quod facere voluptates alias mollitia totam repellat beatae suscipit, molestiae quaerat quibusdam, rerum dolorem quos?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reiciendis enim nam dolor pariatur. 
                    Nobis quod facere voluptates alias mollitia totam repellat beatae suscipit, molestiae quaerat quibusdam, rerum dolorem quos?
                </p>
                <p class="text-complete">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reiciendis enim nam dolor pariatur. 
                    Nobis quod facere voluptates alias mollitia totam repellat beatae suscipit, molestiae quaerat quibusdam, rerum dolorem quos?
                </p>
            </form>
    </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop&copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>