<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin/register.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbar__logo">
                <a href="../../index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./contact.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <picture>
                        <a class="navbar__cart" href="./carrito.html">
                            <img src="../../img/icons/cart-icon.svg" alt="icono de carrito">
                        </a>
                    </picture>
                </li>
            </ul>
        </nav>
    </header>

    <main class="form__registro">
        <section class="container registro__seccion">
            <h1 class="registro__titulo">CONTACTO</h1>
            <form>
                <p class="text-complete">Completa el formulario para contactarte con nosotros</p>
                <section class="registro__seccion__input">
                    <article class="registro__articulo">
                        <label class="registro__label">Nombre:</label>
                        <input class="registro__input" type="text" placeholder="John">
                    </article>
                    <article class="registro__articulo">
                        <label class="registro__label">Apellido:</label>
                        <input class="registro__input" type="text" placeholder="Doe">
                    </article>
                    <article class="registro__articulo">
                        <label class="registro__label">Email:</label>
                        <input class="registro__input" type="email" placeholder="johndoe@correo.com">
                    </article>
                    <article class="registro__articulo">
                        <label for="mensaje" class="registro__label">Mensaje:</label>
                        <textarea class="input__mensaje" type="text" placeholder=""></textarea>
                    </article>
                    <article class="aceptarterminos">
                        <button type="submit" class="registro__boton">Enviar</button>
                    </article>
                </section>
            </form>
        </section>
    </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop&copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>