<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin/register.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <picture class="navbar__logo">
                <a href="../../index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./contact.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <picture>
                        <a class="navbar__cart" href="./carrito.html">
                            <img src="../../../img/icons/cart-icon.svg" alt="icono de carrito">
                        </a>
                    </picture>
                </li>
            </ul>
        </nav>
    </header>

    <main class="form__registro"> 
        <section class="container registro__seccion">
            <h1 class="registro__titulo">Preguntas Frecuentes</h1>
            <form>
                <p class="text-complete"><b>1. ¿Cuáles son los métodos de pago aceptados?</b></p>
                <p class="text-complete">Aceptamos tarjetas de crédito, débito y PayPal como métodos de pago.</p>
                <p class="text-complete"><b>2. ¿Cuáles son los métodos de envío?</b></p>
                <p class="text-complete">Los envíos se realizan a través de Correo Argentino.</p>
                <p class="text-complete"><b>3. ¿Cuánto tarda en llegar mi pedido?</b></p>
                <p class="text-complete">Los pedidos tardan entre 5 y 10 días hábiles en llegar a destino.</p>
                <p class="text-complete"><b>4. ¿Puedo devolver una figura si no estoy satisfecho?</b></p>
                <p class="text-complete">Sí, aceptamos devoluciones dentro de los 30 días posteriores a la recepción del pedido. Consulta nuestra política de devoluciones para obtener más detalles.</p>
                <p class="text-complete"><b>5. ¿Puedo cancelar mi pedido?</b></p>
                <p class="text-complete">Sí, puedes cancelar tu pedido dentro de las 24 horas posteriores a la realización del mismo.</p>
                <p class="text-complete"><b>6. ¿Puedo cambiar mi pedido?</b></p>
                <p class="text-complete">Sí, puedes cambiar tu pedido dentro de las 24 horas posteriores a la realización del mismo.</p>
                
            </form>
    </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../shop/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop&copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>