/******************* CART *******************/
.main-container {
    margin: var(--spacing-128) var(--spacing-80);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-42);
}

.cart__title {
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    font-size: var(--font-jumbo);
    display: inline-flex;
    padding-bottom: 0px;
    gap: var(--spacing-6);
    border-bottom: 5px solid var(--primary-solid);
}

.cart__details {
    display: grid;
    margin-top: var(--spacing-37);
    border-radius: 10px;
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    height: 5.5rem;
    font-family: var(--base-font);
    font-weight: 700;
    grid-template-columns: 45% 30% auto;
    align-content: center;
    padding-left: var(--spacing-80);
}

/******************* COLLECTIONS *******************/
.cart__item {
    list-style: none;
    margin-top: var(--spacing-68);
    border-radius: 25px;
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: var(--spacing-12);
    height: 195px;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 47% 27% 24% auto;
}

.item {
    display: flex;
    align-items: center;
}

.item__details {
    margin-left: var(--spacing-12);
}

.item__img {
    width: 118.762px;
    height: 118px; 
}

.details__title {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 700;
}

.details__price {
    margin-top: 20px;
}

.details__subtitle,
.details__price {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.count {
    width: 90px;
    height: 40px;
    border: 0.5px solid #C9C9C9;
    background: var(--light-font-solid);
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 700;
    text-align: center;
}

.price {
    color: var(--dark-bg-solid);
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
}
/*
.cart__delete:hover { 
    background-color: #ff6600;
    color: var(--light-font-solid);
}*/
.cart__delete-hover {
    display: none;
}

.cart__delete path {
    animation: fade;
}

.cart__delete-hover {
    display: none;
}

.cart__delete:hover .cart__delete-hover {
    display: block;
}

.cart__delete:hover .cart__delete-front {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.add-subtract {
    background-color: var(--orange-solid);
    color: var(--light-font-solid);
    width: 18px;
    height: 18px;
    border-color: var(--orange-solid);
    margin-top: 1px;
    border-style: solid;
    border-color: var(--orange-solid);
}

.button__add-subtract {
    background-color: transparent;
    color: var(--orange-solid);
    width: 28px;
    height: 28px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
    font-family: var(--base-font);
}

.button__count {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

/******************* SUMMARY *******************/
.summary {
    text-align: right;
    gap: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.summary__details {
    border-radius: 10px;
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 572px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 20px;
}

.details__subtotal,
.details__elements,
.details__shipping,
.details__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.details__text {
    font-family: var(--base-font);
    font-size: 16px;
    font-weight: 600;
}

.details__number {
    color: #747474;
    font-family: var(--base-font);
    font-size: 16px;
    font-weight: 400;
}

.pay__button {
    text-align: center;
    width: 572px;
    height: 68.656px;
    background: var(--primary-solid);
    color: var(--light-font-solid);
    font-family: var(--base-font);
    font-size: 32px;
    font-weight: 700;
    border-style: solid;
    border-color: var(--primary-solid);
}

.pay__button:hover {
    background-color: var(--light-font-solid);
    color: var(--primary-solid);
}

.total__text {
    font-family: var(--base-font);
    border-top: 2px solid var(--primary-solid);
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;
    padding-right: 358px;
}

.total__number {
    border-top: 2px solid var(--primary-solid);
    padding-top: 8px;
    font-family: var(--base-font);
    font-size: 20px;
    font-weight: 700;
    color: rgba(116, 116, 116, 1);
}

.add-subtract:hover {
    background-color: var(--light-font-solid);
    color: var(--orange-solid);
}

/* este estilo lo podemos poner despues para que se accione cuando 
hagamos click, y no cuando pasamos el mouse por encima (hover, como está ahora)

.clicked {
    background-color: #FFF;
    color: rgba(242, 78, 30, 1);
}*/
