/*************** REGISTRO**************************/
.form__registro {
    text-align: center;
} 
.registro__seccion {
    padding: var(--spacing-16) 0;
    width: 50%;
}
.registro__titulo {
    font-size: var(--font-large);
    padding: var(--spacing-16) 0;
}

.registro__articulo {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: var(--spacing-12);
    align-items: left;
    text-align: left;
}
.registro__seccion__input{
    margin-top: var(--spacing-12);
    font-family: var(--base-font);
    display: grid;
    justify-content: center;
    align-content: center; 
}
.registro__label{
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
}
.registro__input {
    font-family: var(--base-font);
    border-bottom-color: red;
    border-top: 0;
    border-left: 0;
    border-right: 0;
} 
.registro__boton {
    font-size: var(--font-xsmall);  
    background-color: var(--primary-solid);
    border-style: none;
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
}

.aceptarterminos {
    margin-top: var(--spacing-20);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: var(--spacing-8);
}

.terms,
.acept {
    font-size: var(--font-xsmall); 
    margin-left: var(--spacing-5);
    font-weight: 400; 
    font-family: var(--base-font);
}

.terms {
    color: var(--secondary-solid);
}