<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin/register.css">
</head>

<body>
    <%- include('partials/header') %>

    <main class="form__registro"> 
        <section class="container registro__seccion">
            <h1 class="registro__titulo">Preguntas Frecuentes</h1>
            <form>
                <p class="text-complete"><b>1. ¿Cuáles son los métodos de pago aceptados?</b></p>
                <p class="text-complete">Aceptamos tarjetas de crédito, débito y PayPal como métodos de pago.</p>
                <p class="text-complete"><b>2. ¿Cuáles son los métodos de envío?</b></p>
                <p class="text-complete">Los envíos se realizan a través de Correo Argentino.</p>
                <p class="text-complete"><b>3. ¿Cuánto tarda en llegar mi pedido?</b></p>
                <p class="text-complete">Los pedidos tardan entre 5 y 10 días hábiles en llegar a destino.</p>
                <p class="text-complete"><b>4. ¿Puedo devolver una figura si no estoy satisfecho?</b></p>
                <p class="text-complete">Sí, aceptamos devoluciones dentro de los 30 días posteriores a la recepción del pedido. Consulta nuestra política de devoluciones para obtener más detalles.</p>
                <p class="text-complete"><b>5. ¿Puedo cancelar mi pedido?</b></p>
                <p class="text-complete">Sí, puedes cancelar tu pedido dentro de las 24 horas posteriores a la realización del mismo.</p>
                <p class="text-complete"><b>6. ¿Puedo cambiar mi pedido?</b></p>
                <p class="text-complete">Sí, puedes cambiar tu pedido dentro de las 24 horas posteriores a la realización del mismo.</p>
                
            </form>
            <a class="aceptarterminos" href="/about">
                <button type="submit" class="registro__boton">Conocenos</button>
            </a>
    </main>

    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>