<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin/register.css">
</head>

<body>
    <%- include('partials/header_admin') %>

    <main class="form__registro">
        <section class="container registro__seccion">
            <h1 class="registro__titulo">CREA TU CUENTA</h1>
            <form action="">
                <p class="text-complete">Completa el formulario para ser parte del mundo de los Funkos</p>
                <section class="registro__seccion__input">
                    <article class="registro__articulo">
                        <label for="nombre" class="registro__label">Nombre:</label>
                        <input id="nombre" class="registro__input" type="text" placeholder="John">
                    </article>

                    <article class="registro__articulo">
                        <label for="apellido" class="registro__label">Apellido:</label>
                        <input id="apellido" class="registro__input" type="text" placeholder="Doe">
                    </article>
                    <article class="registro__articulo">
                        <label for="email" class="registro__label">Email:</label>
                        <input id="email" class="registro__input" type="email" placeholder="johndoe@correo.com"">
                    </article>
                    <article class = " registro__articulo">
                        <label for="password" class="registro__label">Contraseña:</label>
                        <input id="password" class="registro__input" type="password" placeholder="•••••••••">
                    </article>
                    <article class="registro__articulo">
                        <label for="passwordRep" class="registro__label">Repita Contraseña:</label>
                        <input id="passwordRep" class="registro__input" type="password" placeholder="•••••••••">
                    </article>

                    <article class="aceptarterminos">
                        <button type="submit" class="registro__boton">Registrar</button>
                        <div class="checkbox">
                            <input type="checkbox">
                            <p class="acept">Acepto </p>
                            <a class="terms" href="">Términos y Condiciones</a>
                        </div>
                    </article>
                </section>
            </form>
        </section>
    </main>

    <%- include('partials/footer_admin') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>